:root {
  font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    padding: 20px;
}
h1 {
    color: #0056b3;
    font-weight: 600;
}
h2 {
    color: #666;
    font-weight: 400;
}
